.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 26rem;
  padding: 1rem 0;
  margin: 0;
  hr:last-child {
    display: none;
  }
  hourglass-spinner,
  p.error {
    margin: auto;
    padding: 1rem;
  }
  p.error {
    color: var(--error);
  }
}

.list-container {
  border-radius: var(--shape-large);
  overflow: hidden;
  border: 1px solid var(--divider);
}

.button-group {
  margin-bottom: 1rem;
}
