:host {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  height: 5.5rem;
  material-symbol {
    color: var(--accent-color);
  }
  > material-symbol {
    --icon-size: 32;
  }
}

.info {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &.now-playing {
    --icon-fill: 1;
    li:first-child {
      color: var(--accent-color);
    }
  }
}

img {
  width: 87px;
  height: 87px;
  border-radius: var(--shape-medium);
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
