.install {
  background: var(--code-background);
  border-radius: var(--shape-medium);
  margin-top: 1em;
  overflow: hidden;
  pre[class*="language-"] {
    margin: 0;
  }
}

.install-buttons {
  border-bottom: 1px solid var(--divider);
}

.command {
  display: flex;
  align-items: center;
  pre {
    flex: 1;
  }
  button {
    margin: 0 0.5rem;
  }
}

.download-count {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  > span {
    display: inline-flex;
    align-items: baseline;
  }
}
