pkg-info {
  display: block;
  margin: 1em 0;
  &:not(:defined) {
    background: var(--black);
    padding: 1em;
    border-radius: 0.5em;
    text-transform: none;
    &::before {
      content: "pnpm add " attr(pkg);
    }
    &[dev-dep="true"]::before {
      content: "pnpm add -D " attr(pkg);
    }
  }
}
