@import "../../components/button/button.baseline.css";
@import "../../components/focus-group/focus-group.baseline.css";
@import "../../components/link/link.baseline.css";
@import "../../components/symbol/symbol.baseline.css";
@import "../../components/tooltip/tooltip.baseline.css";

* {
  box-sizing: border-box;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  scrollbar-width: thin;
}

::selection {
  text-shadow: none;
  background-color: var(--selection);
}

code,
kbd,
samp {
  font-family: var(--font-family-code);
}

pre,
code {
  text-transform: none;
  background: var(--code-background);
  padding: 0.5rem;
  border-radius: var(--shape-medium);
  font-feature-settings:
    "calt" 1,
    "ss01" 1,
    "ss02" 1,
    "ss03" 1,
    "ss04" 1,
    "ss09" 1,
    "liga" 1;
}

:not(pre) > code {
  padding: 0.25em 0.35em;
  border-radius: var(--shape-small);
  display: inline-block;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-family-code);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  background: var(--code-background);
}

pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}

h1 {
  @extend .headline1;
}

h2 {
  @extend .headline2;
}

h3 {
  @extend .headline3;
}

h4 {
  @extend .headline4;
}

h5 {
  @extend .headline5;
}

h6 {
  @extend .headline6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    word-break: break-all;
  }
}

.sr-only {
  /* visually hidden */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr {
  border: none;
  border-top: 1px solid var(--divider);
  margin: 0;
  padding: 0;
}
