@import "./typography.css";
@import "../../components/button/button.baseline.css";
@import "../../components/focus-group/focus-group.baseline.css";
@import "../../components/link/link.baseline.css";
@import "../../components/button/toggle.baseline.css";
@import "../../components/symbol/symbol.baseline.css";
@import "../../components/tooltip/tooltip.baseline.css";

* {
  box-sizing: border-box;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  scrollbar-width: thin;
}

::selection {
  text-shadow: none;
  background-color: var(--selection);
  color: var(--foreground);
}

pre,
code,
kbd,
samp {
  font-family: var(--font-family-code);
}

pre,
code {
  text-transform: none;
  background: var(--code-background);
  padding: 0.5rem;
  border-radius: var(--shape-medium);
  font-feature-settings:
    "calt" 1,
    "ss01" 1,
    "ss02" 1,
    "ss03" 1,
    "ss04" 1,
    "ss09" 1,
    "liga" 1;
}

:not(pre) > code {
  padding: 0.25em 0.35em;
  border-radius: var(--shape-small);
  display: inline-block;
}

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-family-code);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  background: var(--code-background);
}

pre code {
  padding: 0;
  border-radius: 0;
  background: none;
}

h1 {
  @extend .headline1;
}

h2 {
  @extend .headline2;
}

h3 {
  @extend .headline3;
}

h4 {
  @extend .headline4;
}

h5 {
  @extend .headline5;
}

h6 {
  @extend .headline6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  code {
    word-break: break-all;
  }
  hgroup & {
    margin: 0;
  }
}

time,
date-format {
  @extend .overline;
}

.sr-only {
  /* visually hidden */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

hr {
  border: none;
  border-top: 1px solid var(--divider);
  margin: 1rem 0;
  padding: 0;
  &.inset {
    margin-left: 2rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: 2rem;
    }
  }
  &.middle {
    margin: 1rem 2rem;
  }
}

.outlined {
  border: 1px solid var(--divider);
}

p:has(controlled-carousel) {
  display: flex;
  justify-content: center;
}

.token.comment {
  font-family: var(--font-family-comment);
  &.doc-comment {
    font-family: var(--font-family-doc-comment);
  }
}

@media (scripting: none) {
  [needs-js] {
    display: none;
  }
}

@media (scripting: enabled) {
  [no-js] {
    display: none;
  }
}

recent-track,
top-track,
top-artist {
  &:nth-of-type(1) {
    --accent-color: var(--logo1);
  }
  &:nth-of-type(2) {
    --accent-color: var(--logo2);
  }
  &:nth-of-type(3) {
    --accent-color: var(--logo3);
  }
  &:nth-of-type(4) {
    --accent-color: var(--logo4);
  }
  &:nth-of-type(5) {
    --accent-color: var(--logo5);
  }
  &:nth-of-type(6) {
    --accent-color: var(--logo6);
  }
}
