[data-style="normal"] {
  --font-family-body: "Mona Sans", sans-serif;
  --font-family-heading: "Mona Sans", sans-serif;
  --font-family-button: "Mona Sans", sans-serif;

  --headline1-size: 6rem;
  --headline1-transform: none;
  --headline2-size: 3.75rem;
  --headline2-transform: none;
  --headline3-size: 3rem;
  --headline3-transform: none;
  --headline4-size: 2.125rem;
  --headline4-transform: none;
  --headline5-size: 1.5rem;
  --headline5-transform: none;
  --headline6-size: 1.25rem;
  --headline6-transform: none;
  --body1-size: 1rem;
  --body1-transform: none;
  --body2-size: 0.875rem;
  --body2-transform: none;
  --subtitle1-size: 1rem;
  --subtitle1-transform: none;
  --subtitle2-size: 0.875rem;
  --subtitle2-transform: none;
  --button-size: 0.875rem;
  --button-transform: none;
  --overline-size: 0.625rem;
  --overline-transform: none;
  --caption-size: 0.75rem;
  --caption-transform: none;
}

.headline1 {
  font-family: var(--headline1-family);
  font-size: var(--headline1-size);
  font-weight: var(--headline1-weight);
  text-transform: var(--headline1-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.headline2 {
  font-family: var(--headline2-family);
  font-size: var(--headline2-size);
  font-weight: var(--headline2-weight);
  text-transform: var(--headline2-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.headline3 {
  font-family: var(--headline3-family);
  font-size: var(--headline3-size);
  font-weight: var(--headline3-weight);
  text-transform: var(--headline3-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.headline4 {
  font-family: var(--headline4-family);
  font-size: var(--headline4-size);
  font-weight: var(--headline4-weight);
  text-transform: var(--headline4-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.headline5 {
  font-family: var(--headline5-family);
  font-size: var(--headline5-size);
  font-weight: var(--headline5-weight);
  text-transform: var(--headline5-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.headline6 {
  font-family: var(--headline6-family);
  font-size: var(--headline6-size);
  font-weight: var(--headline6-weight);
  text-transform: var(--headline6-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.body1 {
  font-family: var(--body1-family);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  text-transform: var(--body1-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.body2 {
  font-family: var(--body2-family);
  font-size: var(--body2-size);
  font-weight: var(--body2-weight);
  text-transform: var(--body2-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.subtitle1 {
  font-family: var(--subtitle1-family);
  font-size: var(--subtitle1-size);
  font-weight: var(--subtitle1-weight);
  text-transform: var(--subtitle1-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.subtitle2 {
  font-family: var(--subtitle2-family);
  font-size: var(--subtitle2-size);
  font-weight: var(--subtitle2-weight);
  text-transform: var(--subtitle2-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.button {
  font-family: var(--button-family);
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  text-transform: var(--button-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.overline {
  font-family: var(--overline-family);
  font-size: var(--overline-size);
  font-weight: var(--overline-weight);
  text-transform: var(--overline-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}

.caption {
  font-family: var(--caption-family);
  font-size: var(--caption-size);
  font-weight: var(--caption-weight);
  text-transform: var(--caption-transform);
  a &,
  a&,
  button &,
  button& {
    font-family: inherit;
  }
}
