.pkg-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
  pkg-card {
    height: 100%;
  }
  hourglass-spinner {
    margin: auto;
  }
}
