:root {
  --page-background: var(--background);
  --page-foreground: var(--foreground);

  --link-hover-opacity: 0.7;
  --link-hover: rgba(from var(--link) r g b / var(--link-hover-opacity));
  --link-visited-hover: rgba(
    from var(--link-visited) r g b / var(--link-hover-opacity)
  );
}

[data-theme="dark"] {
  --focus-background: var(--comment);

  --link: var(--cyan);
  --link-visited: var(--cyan-secondary);
  --link-focus: var(--green);
  --link-current: var(--foreground);
  --link-current-background: var(--selection);

  --sidebar-background: var(--black);

  --code-background: var(--black);
}

[data-theme="light"] {
  --focus-background: var(--light-blue);

  --link: var(--blue);
  --link-visited: var(--blue-secondary);
  --link-focus: var(--purple);
  --link-current: var(--foreground);
  --link-current-background: var(--selection);

  --sidebar-background: var(--white-secondary);

  --code-background: var(--white-secondary);
}
