:root {
  --black: rgb(33, 34, 44);
  --grey: rgb(65, 69, 88);
  --white: rgb(248, 248, 242);
  --cyan: rgb(128, 255, 234);
  --green: rgb(138, 255, 128);
  --orange: rgb(255, 202, 128);
  --pink: rgb(255, 128, 191);
  --purple: rgb(149, 128, 255);
  --red: rgb(255, 149, 128);
  --yellow: rgb(255, 255, 128);
  --disabled: rgb(108, 115, 147);

  --black-secondary: rgb(65, 69, 88);
  --black-ternary: rgb(167, 171, 190);
  --grey-secondary: rgb(98, 103, 132);
  --grey-ternary: rgb(182, 185, 201);
  --white-secondary: rgb(255, 255, 255);
  --cyan-secondary: rgb(204, 255, 246);
  --green-secondary: rgb(208, 255, 204);
  --orange-secondary: rgb(255, 234, 204);
  --pink-secondary: rgb(255, 204, 230);
  --purple-secondary: rgb(212, 204, 255);
  --red-secondary: rgb(255, 212, 204);
  --yellow-secondary: rgb(255, 255, 204);
}
