:root {
  --black: #21222c;
  --grey: #414558;
  --white: #f8f8f2;
  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --pink: #ff80bf;
  --purple: #9580ff;
  --red: #ff9580;
  --yellow: #ffff80;
  --disabled: #6c7393;

  --black-secondary: #414558;
  --black-ternary: #a7abbe;
  --grey-secondary: #626784;
  --grey-ternary: #b6b9c9;
  --white-secondary: #ffffff;
  --cyan-secondary: #ccfff6;
  --green-secondary: #d0ffcc;
  --orange-secondary: #ffeacc;
  --pink-secondary: #ffcce6;
  --purple-secondary: #d4ccff;
  --red-secondary: #ffd4cc;
  --yellow-secondary: #ffffcc;
}
