@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import "../../node_modules/normalize.css/normalize.css";

@import "./themes/dracula.css";
@import "./themes/github-light.css";

@import "./tokens/color.css";
@import "./tokens/shape.css";
@import "./tokens/typography.css";
@import "./tokens/z-index.css";

@import "./utility/baseline.css";
@import "./utility/typography.css";

@import "../components/footer/footer.global.css";
@import "../components/header/header.global.css";
@import "../components/pkg-info/pkg-info.global.css";
@import "../components/sidebar/sidebar.global.css";
@import "../components/toaster/toaster.global.css";
@import "../components/scroll-to-top/scroll-to-top.global.css";

@view-transition {
  navigation: auto;
}

:root {
  --default-duration: 250ms;
}

html {
  background: var(--page-background);
  color: var(--page-foreground);
}

body {
  @extend .body1;
  font-feature-settings:
    "calt" 1,
    "liga" 1;
  max-width: none;
  &:not(.sb-show-main) {
    min-height: 100vh;
    display: flex;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  .root {
    background: var(--page-background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    view-transition-name: content;
    > hr {
      margin: 0 auto;
      width: 100%;
      max-width: calc(1000px - 2rem);
    }
  }
  page-header {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    padding-bottom: 0;
    @media (max-width: 1000px) {
      margin: 0;
    }
  }
  main {
    flex: 1;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
    padding-top: 0;
    @media (max-width: 1000px) {
      margin: 0;
    }
  }
}

.skip-to-content {
  position: absolute;
  width: var(--sidebar-width);
  text-align: center;
  top: -1000px;
  left: -1000px;
  z-index: var(--z-index-skip-to-content);
  background: var(--page-background);
  padding: 1rem;
  &:focus {
    top: 0;
    left: 0;
  }
}

.last-fm {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 50%));
  gap: 1rem;
  recent-tracks {
    grid-column: span 2;
  }

  @media (max-width: 1200px) {
    grid-template-columns: minmax(0, 1fr);
    recent-tracks {
      grid-column: unset;
    }
  }
}

.not-found-icon {
  --icon-size: 192;
  margin: 8rem auto;
  display: block;
  animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
  0% {
    color: var(--logo1);
  }
  14.28% {
    color: var(--logo2);
  }
  28.56% {
    color: var(--logo3);
  }
  42.84% {
    color: var(--logo4);
  }
  57.12% {
    color: var(--logo5);
  }
  71.4% {
    color: var(--logo6);
  }
  85.68% {
    color: var(--logo1);
  }
  100% {
    color: var(--logo1);
  }
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

::view-transition-old(root),
::view-transition-new(root),
::view-transition-old(content),
::view-transition-new(content) {
  animation-duration: var(--default-duration);
}

@media (min-width: 1000px) {
  ::view-transition-old(content) {
    animation: none;
  }
  ::view-transition-new(content) {
    animation-name: slide-from-right;
    animation-timing-function: ease-out;
  }
}
