[data-theme="system"] {
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}

:root {
  --page-background: var(--background);
  --page-foreground: var(--foreground);
  --focus-background: light-dark(var(--light-blue), var(--comment));

  --success: light-dark(var(--green5, green), var(--green, green));
  --warning: light-dark(var(--yellow5, yellow), var(--yellow, yellow));
  --error: light-dark(var(--red5, red), var(--red, red));
  --info: light-dark(var(--blue, blue), var(--cyan, cyan));

  --link: light-dark(var(--blue, blue), var(--cyan, cyan));
  --link-visited: light-dark(
    var(--blue-secondary, blue),
    var(--cyan-secondary, cyan)
  );
  --link-focus: light-dark(var(--purple, purple), var(--green, green));
  --link-current: var(--foreground);
  --link-current-background: var(--selection);
  --link-hover-opacity: 0.7;
  --link-hover: rgba(from var(--link) r g b / var(--link-hover-opacity));
  --link-visited-hover: rgba(
    from var(--link-visited) r g b / var(--link-hover-opacity)
  );

  --button: light-dark(var(--pink5, pink), var(--pink, pink));
  --button-hover: light-dark(var(--pink7, pink), var(--pink-secondary, pink));
  --button-focus: var(--background);
  --button-selected: var(--foreground);
  --button-selected-background: var(--selection);
  --button-filled: light-dark(var(--white), var(--foreground));
  --button-filled-background: light-dark(var(--pink3, pink), var(--pink, pink));
  --button-filled-hover-background: light-dark(
    var(--pink5, pink),
    var(--pink-secondary, pink)
  );
  --button-hover-background-opacity: 0.1;
  --button-hover-background: rgba(
    from var(--button) r g b / var(--button-hover-background-opacity)
  );

  --sidebar-background: light-dark(var(--white-secondary, white), var(--black));
  --footer-background: light-dark(var(--white-secondary, white), var(--black));
  --carousel-background: light-dark(
    var(--white-secondary, white),
    var(--black)
  );

  --code-background: light-dark(var(--white-secondary, white), var(--black));

  --divider: light-dark(var(--grey), var(--disabled, grey));

  --scroll-track: light-dark(var(--white-secondary, white), var(--black));
  --scroll-thumb: var(--purple);

  --logo1: var(--red);
  --logo2: light-dark(var(--yellow5, yellow), var(--yellow, yellow));
  --logo3: light-dark(var(--green5, green), var(--green, green));
  --logo4: light-dark(var(--blue, blue), var(--cyan, cyan));
  --logo5: var(--purple);
  --logo6: light-dark(var(--pink5, pink), var(--pink, pink));

  --toast-surface: light-dark(var(--white), var(--black));

  --tooltip-background: light-dark(var(--white), var(--black));
  --tooltip-foreground: light-dark(var(--black), var(--white));

  --scroll-top-background: light-dark(var(--white), var(--black));
}
