:root {
  --page-background: var(--background);
  --page-foreground: var(--foreground);

  --link-hover-opacity: 0.7;
  --link-hover: rgba(from var(--link) r g b / var(--link-hover-opacity));
  --link-visited-hover: rgba(
    from var(--link-visited) r g b / var(--link-hover-opacity)
  );

  --button-hover-background-opacity: 0.1;
  --button-hover-background: rgba(
    from var(--button) r g b / var(--button-hover-background-opacity)
  );
}

%dark {
  --focus-background: var(--comment);

  --success: var(--green);
  --warning: var(--yellow);
  --error: var(--red);
  --info: var(--cyan);

  --link: var(--cyan);
  --link-visited: var(--cyan-secondary);
  --link-focus: var(--green);
  --link-current: var(--foreground);
  --link-current-background: var(--selection);

  --button: var(--pink);
  --button-hover: var(--pink-secondary);
  --button-focus: var(--background);
  --button-selected: var(--foreground);
  --button-selected-background: var(--selection);

  --sidebar-background: var(--black);
  --footer-background: var(--black);

  --code-background: var(--black);

  --divider: var(--disabled);

  --scroll-track: var(--black);
  --scroll-thumb: var(--purple);

  --logo1: var(--red);
  --logo2: var(--yellow);
  --logo3: var(--green);
  --logo4: var(--cyan);
  --logo5: var(--purple);
  --logo6: var(--pink);

  --toast-surface: var(--black);

  --tooltip-background: var(--black);
  --tooltip-foreground: var(--white);
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %dark;
  }
}

[data-theme="dark"] {
  @extend %dark;
}

%light {
  --focus-background: var(--light-blue);

  --success: var(--green5);
  --warning: var(--yellow5);
  --error: var(--red5);
  --info: var(--blue);

  --link: var(--blue);
  --link-visited: var(--blue-secondary);
  --link-focus: var(--purple);
  --link-current: var(--foreground);
  --link-current-background: var(--selection);

  --button: var(--pink5);
  --button-hover: var(--pink7);
  --button-focus: var(--background);
  --button-selected: var(--foreground);
  --button-selected-background: var(--selection);

  --sidebar-background: var(--white-secondary);
  --footer-background: var(--white-secondary);

  --code-background: var(--white-secondary);

  --divider: var(--grey);

  --scroll-track: var(--white-secondary);
  --scroll-thumb: var(--purple);

  --logo1: var(--red);
  --logo2: var(--yellow5);
  --logo3: var(--green5);
  --logo4: var(--blue);
  --logo5: var(--purple);
  --logo6: var(--pink5);

  --toast-surface: var(--white);

  --tooltip-background: var(--white);
  --tooltip-foreground: var(--black);
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %light;
  }
}

[data-theme="light"] {
  @extend %light;
}
