@font-face {
  font-family: "Monaspace Argon";
  src: url("/assets/fonts/MonaspaceArgonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("/assets/fonts/MonaspaceKryptonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("/assets/fonts/MonaspaceNeonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Radon";
  src: url("/assets/fonts/MonaspaceRadonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Xenon";
  src: url("/assets/fonts/MonaspaceXenonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

%light {
  --weight-thin: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;

  --icon-grade: 0;
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %light;
  }
}

[data-theme="light"] {
  @extend %light;
}

%dark {
  --weight-thin: 100;
  --weight-extralight: 150;
  --weight-light: 250;
  --weight-regular: 350;
  --weight-medium: 450;
  --weight-semibold: 550;
  --weight-bold: 650;
  --weight-extrabold: 750;
  --weight-black: 850;

  --icon-grade: -25;
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %dark;
  }
}

[data-theme="dark"] {
  @extend %dark;
}

:root {
  --font-family-heading: "Monaspace Xenon", monospace;
  --font-family-body: "Monaspace Neon", monospace;
  --font-family-code: "Monaspace Argon", monospace;
  --font-family-icon: "Material Symbols Sharp", serif;

  --headline1-family: var(--font-family-heading);
  --headline1-size: 6.0625rem;
  --headline1-weight: var(--weight-extralight);
  --headline1-transform: lowercase;

  --headline2-family: var(--font-family-heading);
  --headline2-size: 3.8125rem;
  --headline2-weight: var(--weight-light);
  --headline2-transform: lowercase;

  --headline3-family: var(--font-family-heading);
  --headline3-size: 3rem;
  --headline3-weight: var(--weight-light);
  --headline3-transform: lowercase;

  --headline4-family: var(--font-family-heading);
  --headline4-size: 2.125rem;
  --headline4-weight: var(--weight-light);
  --headline4-transform: lowercase;

  --headline5-family: var(--font-family-heading);
  --headline5-size: 1.5rem;
  --headline5-weight: var(--weight-regular);
  --headline5-transform: lowercase;

  --headline6-family: var(--font-family-heading);
  --headline6-size: 1.25rem;
  --headline6-weight: var(--weight-regular);
  --headline6-transform: lowercase;

  --body1-family: var(--font-family-body);
  --body1-size: 1rem;
  --body1-weight: var(--weight-regular);
  --body1-transform: lowercase;

  --body2-family: var(--font-family-body);
  --body2-size: 0.875rem;
  --body2-weight: var(--weight-regular);
  --body2-transform: lowercase;

  --subtitle1-family: var(--font-family-body);
  --subtitle1-size: 1rem;
  --subtitle1-weight: var(--weight-regular);
  --subtitle1-transform: lowercase;

  --subtitle2-family: var(--font-family-body);
  --subtitle2-size: 0.875rem;
  --subtitle2-weight: var(--weight-regular);
  --subtitle2-transform: lowercase;

  --button-family: var(--font-family-body);
  --button-size: 0.875rem;
  --button-weight: var(--weight-medium);
  --button-transform: lowercase;

  --overline-family: var(--font-family-body);
  --overline-size: 0.625rem;
  --overline-weight: var(--weight-medium);
  --overline-transform: lowercase;

  --caption-family: var(--font-family-body);
  --caption-size: 0.75rem;
  --caption-weight: var(--weight-regular);
  --caption-transform: lowercase;
}
