:root {
  --sidebar-width: 19rem;
  @supports (corner-shape: bevel) {
    --sidebar-width: 20rem;
  }
}

sidebar-nav {
  display: block;
  background: var(--sidebar-background);
  width: var(--sidebar-width);
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
  z-index: var(--z-index-sidebar);
  view-transition-name: sidebar;
  &:dir(rtl) {
    left: auto;
    right: 0;
  }
}

@media (max-width: 1000px) {
  sidebar-nav {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    border-bottom: 1px solid transparent;
    transition: border-color var(--default-duration);
    [data-scrolled] & {
      border-color: var(--divider);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::view-transition-old(sidebar) {
  animation: none;
}
::view-transition-new(sidebar) {
  animation-name: fade-in;
}
