:root {
  --sidebar-width: 19rem;
}

sidebar-nav {
  display: block;
  background: var(--sidebar-background);
  width: var(--sidebar-width);
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
  z-index: var(--z-index-sidebar);
  &:dir(rtl) {
    left: auto;
    right: 0;
  }
}

@media (max-width: 1000px) {
  sidebar-nav {
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    border-bottom: 1px solid transparent;
    transition: border-color var(--default-duration);
    [data-scrolled] & {
      border-color: var(--divider);
    }
  }
}
