@import "./theme-toggle/theme-toggle.css";

nav {
  --padding-h: 1rem;
  --padding-per-level: 1rem;
  padding: 1rem 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
  margin: 0;
  --padding-s: calc(
    var(--padding-per-level) * var(--level, 0) + var(--padding-h)
  );
  padding: 0;
  a {
    padding-left: var(--padding-s);
    padding-right: var(--padding-h);
    &:dir(rtl) {
      padding-left: var(--padding-h);
      padding-right: var(--padding-s);
    }
  }
}

li {
  list-style: none;
  &.group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

a {
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  &:hover {
    font-variation-settings: "slnt" -8;
  }
  &.current,
  &.current:hover {
    font-weight: var(--weight-bold);
    color: var(--link-current);
    --icon-weight: 500;
    --icon-fill: 1;
    background: var(--link-current-background);
    font-variation-settings: "slnt" -11;
  }

  .parent > & {
    font-weight: var(--weight-medium);
    --icon-fill: 1;
  }
}
