:host {
  background: var(--background);
  border-radius: var(--shape-pill);
  display: flex;
  align-items: center;
  overflow: hidden;
}

fieldset {
  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

label {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button);
  transition-property: color, background, font-weight, font-variation-settings;
  --icon-weight: 300;
  &:hover {
    background: var(--button-hover-background);
    color: var(--button-hover);
    --icon-weight: 500;
  }
  &:focus {
    outline: none;
    color: var(--button-focus);
    background: var(--focus-background);
  }
}

input {
  appearance: none;
  &:checked + label,
  &:checked + label:hover {
    background: var(--button-selected-background);
    color: var(--button-selected);
    --icon-weight: 500;
    --icon-fill: 1;
  }
  &:focus-visible + label {
    outline: none;
    color: var(--button-focus);
    background: var(--focus-background);
  }
}
