:host {
  background: var(--background);
  border-radius: var(--shape-pill);
}

button {
  &[data-selected="system"] .system,
  &[data-selected="light"] .light,
  &[data-selected="dark"] .dark {
    --icon-fill: 1;
  }
}
