:host {
  background: var(--background);
  border-radius: var(--shape-pill);
}

button {
  .light {
    --icon-fill: 1;
  }
  &[aria-pressed="true"] {
    &:not(:focus-visible) {
      background: none;
      color: var(--button);
      &:hover {
        color: var(--button-hover);
        background: var(--button-hover-background);
      }
    }
    .light {
      --icon-fill: 0;
    }
  }
}
