hgroup {
  margin-top: 2rem;
  date-format {
    display: block;
    margin-bottom: 0.5em;
  }
}

.embeds {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  --embed-min-width: 250px;
  iframe {
    border-radius: 12px;
    @media (min-width: 600px) {
      flex: 1;
      min-width: var(--embed-min-width);
    }
  }
  &.four {
    --embed-min-width: 350px;
  }
}
