ol,
li {
  display: contents;
}

.region {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  padding: 16px;
  @media (max-width: 1000px) {
    padding: 8px;
    gap: 8px;
    align-items: stretch;
    .toast {
      flex: 1;
    }
  }
}

.toast {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  height: 40px;
  background: var(--foreground);
  color: var(--toast-text);
  --button: var(--toast-text);
  --button-hover: rgba(from var(--button) r g b / 0.7);
  --button-hover-background: rgba(from var(--button) r g b / 0.1);
  --button-focus: rgba(from var(--button) r g b / 0.7);
  border-radius: var(--shape-medium);
  transition-property: background;
  transition-duration: var(--default-duration);
  animation: toast-enter var(--default-duration) forwards;
  .content {
    flex: 1;
  }
  &.has-timeout {
    animation:
      toast-enter var(--default-duration) forwards,
      toast-exit var(--default-duration)
        calc(max(var(--timeout), 5000ms) + var(--default-duration)) forwards;
    &:hover:not(.exiting) {
      animation-play-state: paused;
    }
  }
  &.exiting {
    animation-name: toast-exit;
    animation-duration: var(--default-duration);
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  &.error {
    background: var(--error);
  }
  &.warning {
    background: var(--warning);
  }
  &.success {
    background: var(--success);
  }
  &.info {
    background: var(--info);
  }
  &:focus {
    outline: none;
    background: var(--focus-background);
  }
  button {
    margin: 0 -8px;
  }
}

@keyframes toast-enter {
  0% {
    margin-bottom: -72px;
  }
  100% {
    margin-bottom: 0;
  }
}

@keyframes toast-exit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}
