.region {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  --padding: 16px;
  gap: var(--padding);
  padding-bottom: var(--padding);
  padding-right: var(--padding);
  &:dir(rtl) {
    padding-right: 0;
    padding-left: var(--padding);
  }
  @media (max-width: 1000px) {
    &,
    &:dir(rtl) {
      padding: 8px;
    }
    padding-top: 0;
    align-items: stretch;
    .toast {
      flex: 1;
    }
  }
}

.toast {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
  padding-left: 16px;
  height: 40px;
  background: var(--toast-surface);
  color: var(--toast-accent);
  --normal-border: 1px solid var(--divider);
  border: var(--normal-border);
  border-radius: var(--shape-medium);
  overflow: hidden;
  transition-property: background;
  transition-duration: var(--default-duration);
  animation: toast-enter var(--default-duration) forwards;
  position: relative;
  @media (prefers-reduced-motion) {
    animation-name: toast-fade-in;
  }
  --icon-fill: 1;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 8px;
    height: 100%;
    background: var(--toast-accent);
  }
  &:dir(rtl) {
    padding-left: 8px;
    padding-right: 16px;
    &::before {
      left: auto;
      right: 0;
    }
  }
  .content {
    flex: 1;
    color: var(--foreground);
  }
  &.has-timeout {
    animation:
      toast-enter var(--default-duration) forwards,
      toast-exit var(--default-duration)
        calc(max(var(--timeout), 5000ms) + var(--default-duration)) forwards;
    @media (prefers-reduced-motion) {
      animation-name: toast-fade-in, toast-fade-out;
    }
    &:hover:not(.exiting) {
      animation-play-state: paused;
    }
  }
  &.exiting {
    animation: toast-exit var(--default-duration) forwards;
    @media (prefers-reduced-motion) {
      animation-name: toast-fade-out;
    }
  }
  &.error {
    --toast-accent: var(--error);
  }
  &.warning {
    --toast-accent: var(--warning);
  }
  &.success {
    --toast-accent: var(--success);
  }
  &.info {
    --toast-accent: var(--info);
  }
  button {
    margin: 0 -8px;
  }
}

@keyframes toast-enter {
  0% {
    margin-bottom: calc(-56px - var(--bottom-offset));
    margin-top: var(--bottom-offset);
  }
  100% {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes toast-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toast-exit {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes toast-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
