toast-queue {
  --bottom-offset: 0px;
  position: fixed;
  transition: bottom var(--default-duration);
  bottom: var(--bottom-offset);
  right: 0;
  z-index: var(--z-index-toast);
  &:dir(rtl) {
    right: auto;
    left: 0;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }
  [data-scrolled] & {
    /* scroll to top button + padding */
    --bottom-offset: 66px;
  }
}
