[data-style="normal"] {
  .text {
    color: inherit;
  }
  .console {
    display: none;
  }
}

@media (scripting: none) {
  .text {
    color: inherit;
  }
}

.cursor {
  display: inline;
  background: var(--foreground);
  border: 0.1em solid var(--foreground);
  margin-left: 0.1em;
  height: 1lh;
  color: transparent;
  &:dir(rtl) {
    margin-right: 0.1em;
    margin-left: 0;
  }
  &.done {
    background: none;
  }
  &::before {
    content: attr(data-char);
    color: inherit;
  }
}

.remainder {
  color: transparent;
}

@media (prefers-reduced-motion) {
  .cursor {
    color: inherit;
    background: none;
    border: none;
    height: auto;
    margin: 0;
  }
  .remainder {
    color: inherit;
  }
}
