@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("../node_modules/normalize.css/normalize.css");
@import url("../node_modules/dracula-prism/dist/css/dracula-prism.css");

@import "./styles/base.css";
@import "./styles/color.css";
@import "./styles/typography.css";
@import "./components/header/header.global.css";
@import "./components/sidebar/sidebar.global.css";
@import "./components/pkg-info/pkg-info.global.css";

@font-face {
  font-family: "Monaspace Argon";
  src: url("/assets/fonts/MonaspaceArgonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Krypton";
  src: url("/assets/fonts/MonaspaceKryptonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Neon";
  src: url("/assets/fonts/MonaspaceNeonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Radon";
  src: url("/assets/fonts/MonaspaceRadonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "Monaspace Xenon";
  src: url("/assets/fonts/MonaspaceXenonVarVF.woff2") format("woff2");
  font-weight: 100 800;
  font-display: swap;
}

:root {
  --font-transition-duration: 250ms;
  --font-family: "Monaspace Neon", monospace;
  --font-family-heading: "Monaspace Xenon", monospace;
  --font-family-code: "Monaspace Argon", monospace;
  --font-family-icon: "Material Symbols Sharp", serif;
  --link: var(--green);
  --link-hover-opacity: 0.7;
  --link-hover: rgba(from var(--link) r g b / var(--link-hover-opacity));
  --link-visited: var(--green-secondary);
  --link-visited-hover: rgba(
    from var(--link-visited) r g b / var(--link-hover-opacity)
  );
  --link-current: var(--cyan);
}

html {
  background: var(--background);
  color: var(--foreground);
}

body {
  min-height: 100vh;
  &.sb-show-main {
    max-width: none;
  }
  display: flex;
  gap: 1rem;
  font-family: var(--body1-family);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  text-transform: var(--body1-transform);
  font-feature-settings:
    "calt" 1,
    "liga" 1;
  .root {
    flex: 1;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1rem;
  }
}
