@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("../node_modules/normalize.css/normalize.css");

:root {
  --black: rgb(33, 34, 44);
  --grey: rgb(65, 69, 88);
  --white: rgb(248, 248, 242);
  --cyan: rgb(128, 255, 234);
  --green: rgb(138, 255, 128);
  --orange: rgb(255, 202, 128);
  --pink: rgb(255, 128, 191);
  --purple: rgb(149, 128, 255);
  --red: rgb(255, 149, 128);
  --yellow: rgb(255, 255, 128);
  --disabled: rgb(108, 115, 147);

  --black-secondary: rgb(65, 69, 88);
  --black-ternary: rgb(167, 171, 190);
  --grey-secondary: rgb(98, 103, 132);
  --grey-ternary: rgb(182, 185, 201);
  --white-secondary: rgb(255, 255, 255);
  --cyan-secondary: rgb(204, 255, 246);
  --green-secondary: rgb(208, 255, 204);
  --orange-secondary: rgb(255, 234, 204);
  --pink-secondary: rgb(255, 204, 230);
  --purple-secondary: rgb(212, 204, 255);
  --red-secondary: rgb(255, 212, 204);
  --yellow-secondary: rgb(255, 255, 204);
}

:root {
  --weight-thin: 100;
  --weight-extralight: 150;
  --weight-light: 250;
  --weight-regular: 350;
  --weight-medium: 450;
  --weight-semibold: 550;
  --weight-bold: 650;
  --weight-extrabold: 750;
  --weight-black: 850;

  --headline1-size: 6.0625rem;
  --headline1-weight: var(--weight-extralight);
  --headline1-transform: none;

  --headline2-size: 3.8125rem;
  --headline2-weight: var(--weight-light);
  --headline2-transform: none;

  --headline3-size: 3rem;
  --headline3-weight: var(--weight-light);
  --headline3-transform: none;

  --headline4-size: 2.125rem;
  --headline4-weight: var(--weight-light);
  --headline4-transform: none;

  --headline5-size: 1.5rem;
  --headline5-weight: var(--weight-regular);
  --headline5-transform: none;

  --headline6-size: 1.25rem;
  --headline6-weight: var(--weight-regular);
  --headline6-transform: none;

  --body1-size: 1rem;
  --body1-weight: var(--weight-regular);
  --body1-transform: none;

  --body2-size: 0.875rem;
  --body2-weight: var(--weight-regular);
  --body2-transform: none;

  --subtitle1-size: 1rem;
  --subtitle1-weight: var(--weight-regular);
  --subtitle1-transform: none;

  --subtitle2-size: 0.875rem;
  --subtitle2-weight: var(--weight-regular);
  --subtitle2-transform: none;

  --button-size: 0.875rem;
  --button-weight: var(--weight-medium);
  --button-transform: uppercase;

  --overline-size: 0.625rem;
  --overline-weight: var(--weight-medium);
  --overline-transform: uppercase;

  --caption-size: 0.75rem;
  --caption-weight: var(--weight-regular);
  --caption-transform: none;
}

:root {
  --font-transition-duration: 250ms;
  --font-family: "Roboto Mono", monospace;
  --font-family-icon: "Material Symbols Sharp", serif;
  --foreground: var(--white);
  --background: var(--black);
  --link: var(--green);
  --link-hover-opacity: 0.7;
  --link-hover: rgba(from var(--link) r g b / var(--link-hover-opacity));
  --link-visited: var(--green-secondary);
  --link-visited-hover: rgba(
    from var(--link-visited) r g b / var(--link-hover-opacity)
  );
  --link-current: var(--cyan);
}

html {
  font-family: var(--font-family);
  background: var(--background);
  color: var(--foreground);
}

body {
  max-width: 1000px;
  &.sb-show-main {
    max-width: none;
  }
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
}

a {
  color: var(--link);
  text-decoration: none;
  &:visited {
    color: var(--link-visited);
  }
  &:hover {
    color: var(--link-hover);
    &:visited {
      color: var(--link-visited-hover);
    }
  }
}

h1,
.headline1 {
  font-size: var(--headline1-size);
  font-weight: var(--headline1-weight);
  text-transform: var(--headline1-transform);
}

h2,
.headline2 {
  font-size: var(--headline2-size);
  font-weight: var(--headline2-weight);
  text-transform: var(--headline2-transform);
}

h3,
.headline3 {
  font-size: var(--headline3-size);
  font-weight: var(--headline3-weight);
  text-transform: var(--headline3-transform);
}

h4,
.headline4 {
  font-size: var(--headline4-size);
  font-weight: var(--headline4-weight);
  text-transform: var(--headline4-transform);
}

h5,
.headline5 {
  font-size: var(--headline5-size);
  font-weight: var(--headline5-weight);
  text-transform: var(--headline5-transform);
}

h6,
.headline6 {
  font-size: var(--headline6-size);
  font-weight: var(--headline6-weight);
  text-transform: var(--headline6-transform);
}

.body1 {
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
  text-transform: var(--body1-transform);
}

.body2 {
  font-size: var(--body2-size);
  font-weight: var(--body2-weight);
  text-transform: var(--body2-transform);
}

.subtitle1 {
  font-size: var(--subtitle1-size);
  font-weight: var(--subtitle1-weight);
  text-transform: var(--subtitle1-transform);
}

.subtitle2 {
  font-size: var(--subtitle2-size);
  font-weight: var(--subtitle2-weight);
  text-transform: var(--subtitle2-transform);
}

.button {
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  text-transform: var(--button-transform);
}

.overline {
  font-size: var(--overline-size);
  font-weight: var(--overline-weight);
  text-transform: var(--overline-transform);
}

.caption {
  font-size: var(--caption-size);
  font-weight: var(--caption-weight);
  text-transform: var(--caption-transform);
}
