<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script type="module" src="../components/sidebar/sidebar.ts"></script>
    <title>${globalThis.page.title}</title>
  </head>
  <body>
    <sidebar-nav current-route="${globalThis.page.route}"></sidebar-nav>
    <div class="root">
      <page-outlet></page-outlet>
    </div>
  </body>
</html>
