<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../scripts/initial-theme.ts"></script>
    <link rel="stylesheet" href="../styles/global.css" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script type="module" src="../components/sidebar/sidebar.ts"></script>
    <script type="module" src="../components/header/header.ts"></script>
    <title>eskimojo - ${globalThis.page.title}</title>
    <link rel="icon" href="/assets/icon.ico" sizes="any" />
    <link rel="icon" href="/assets/icon.svg" type="image/svg+xml" />
    <meta property="og:title" content="eskimojo - ${globalThis.page.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://eskimojo.neocities.org/" />
    <meta
      property="og:description"
      content="${globalThis.page.data.description}"
    />
  </head>
  <body>
    <sidebar-nav current-route="${globalThis.page.route}"></sidebar-nav>
    <div class="root">
      <page-header
        header="${globalThis.page.title}"
        subtitle="${globalThis.page.data.description}"
      >
      </page-header>
      <page-outlet></page-outlet>
    </div>
  </body>
</html>
