<!doctype html>
<html lang="en" data-theme="system" data-pm="pnpm">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="../scripts/initial-prefs.ts"></script>
    <link rel="stylesheet" href="../styles/global.css" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script type="module" src="../components/sidebar/sidebar.ts"></script>
    <script type="module" src="../components/header/header.ts"></script>
    <script type="module" src="../components/footer/footer.ts"></script>
    <script type="module" src="../components/toaster/toaster.ts"></script>
    <title>eskimojo - ${globalThis.page.title}</title>
    <link rel="icon" href="/assets/icon.png" sizes="any" />
    <link
      id="svg-favicon"
      rel="icon"
      href="/assets/icon-system.svg"
      type="image/svg+xml"
    />
    <meta property="og:title" content="eskimojo - ${globalThis.page.title}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://eskimojo.neocities.org/" />
    <meta
      property="og:description"
      content="${globalThis.page.data.description}"
    />
    <meta
      property="og:image"
      content="https://eskimojo.neocities.org/assets/icon.png"
    />
  </head>
  <body>
    <a class="skip-to-content headline5" href="#root">Skip to content</a>
    <sidebar-nav current-route="${globalThis.page.route}"></sidebar-nav>
    <div class="root" id="root">
      <page-header
        header="${globalThis.page.title}"
        subtitle="${globalThis.page.data.description}"
        published="${globalThis.page.data.published}"
      >
      </page-header>
      <main>
        <page-outlet></page-outlet>
      </main>
      <page-footer></page-footer>
    </div>
    <toast-queue></toast-queue>
  </body>
</html>
