<html>
  <head>
    <script
      type="module"
      src="../components/package-install/package-install.ts"
    ></script>
  </head>
  <body>
    <div class="link-group">
      <a
        href="https://www.npmjs.com/package/${globalThis.page.data.package}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <material-symbol aria-hidden="true">open_in_new</material-symbol>
        NPM
      </a>
      |
      <a
        href="https://github.com/${globalThis.page.data.repo}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <material-symbol aria-hidden="true">open_in_new</material-symbol>
        GitHub
      </a>
    </div>
    <package-install dev-dep="${globalThis.page.data.devDep}"
      >${globalThis.page.data.package}</package-install
    >
    <!-- markdown content will get output here -->
    <content-outlet></content-outlet>
    <a href="/packages/">
      <material-symbol aria-hidden="true">arrow_back</material-symbol>
      Back to all packages
    </a>
  </body>
</html>
