<html>
  <head>
    <script type="module" src="../components/pkg-info/pkg-info.ts"></script>
    <script type="module" src="../components/tags/tags.ts"></script>
    <script type="module" src="../components/linked-data/package.ts"></script>
  </head>
  <body>
    <pkg-ld
      pkg="${globalThis.page.data.package}"
      repo="${globalThis.page.data.repo}"
      docs="${globalThis.page.data.docs}"
      name="${globalThis.page.title}"
      description="${globalThis.page.data.description}"
      route="${globalThis.page.route}"
    ></pkg-ld>
    <tags-list path="packages" tags="${globalThis.page.data.tags}"></tags-list>
    <pkg-info
      pkg="${globalThis.page.data.package}"
      dev-dep="${globalThis.page.data.devDep}"
      docs="${globalThis.page.data.docs}"
      repo="${globalThis.page.data.repo}"
      include-install
    ></pkg-info>
    <!-- markdown content will get output here -->
    <content-outlet></content-outlet>
    <a href="/packages/">
      <material-symbol aria-hidden="true">arrow_back</material-symbol>
      Back to all packages
    </a>
  </body>
</html>
