<html>
  <head>
    <script type="module" src="../components/pkg-info/pkg-info.ts"></script>
  </head>
  <body>
    <pkg-info
      pkg="${globalThis.page.data.package}"
      dev-dep="${globalThis.page.data.devDep}"
      docs="${globalThis.page.data.docs}"
      repo="${globalThis.page.data.repo}"
      include-install
    ></pkg-info>
    <!-- markdown content will get output here -->
    <content-outlet></content-outlet>
    <a href="/packages/">
      <material-symbol aria-hidden="true">arrow_back</material-symbol>
      Back to all packages
    </a>
  </body>
</html>
